@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    color: rgb(245, 245, 245);
}

body{
    background-color: #6a00b1;
}

.container{
    background-color: blueviolet;
    margin: 5rem 2rem 5rem 2rem;
    border-radius: 12px;
    height:50rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
}

h1{
    color: rgb(221, 84, 255);
}


nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 10;
    
}


main{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

main a{
    margin: 2rem;
}

a:hover{
    border-bottom: 2px solid red;
}

.home-img{
    height: 35rem;
}

.contact-img{
  position : absolute;
  right: 100px; 
  top : 60px;
  
}


.contents{
    display: flex;
    margin-top: 2px;
    justify-content: space-evenly;
    margin-top: 60px;
}



.info{
    margin-top: 10%;
    width: 50%;
    padding: 2px;
}


.card {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:200px;
    left: 240px;
  }
  
  .title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: rgb(218, 199, 199);
  }
  
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 19px;
    color: rgb(0, 17, 17);
    position: absolute;
    top: -10px;
    left: 10px;

    background-color: #fff;
    transition: all .3s ease; 
    border-radius: 16px;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: #8565b9;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #3366cc;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  
  
  button {
    font-family: inherit;
    font-size: 28px;
    background: #a971cd;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  